.container {
  display: flex;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.full-height {
  min-height: 100vh;
}

.center-v {
  align-self: center;
}

.flex-column {
  flex-direction: column;
}

.center {
  text-align: center;
}
