.json-markup {
  line-height: 1.2em;
  font-size: 1.2em;
  font-family: monospace;
  white-space: pre;
}

.json-markup-key {
  font-weight: bold;
}

.json-markup-bool {
  color: $pink;
}

.json-markup-string {
  color: $emerland;
}

.json-markup-null {
  color: $faded;
}

.json-markup-number {
  color: $indigo;
}
