.scrape-result {
  background: linear-gradient(65deg, $nephritis 0, $emerland 100%);
  color: $white;
}

.scrape-json {
  color: $black;
  text-align: left;
  width: 100%;
  padding: 30px;
  background: $light-gray;
  border-radius: $radius;
  overflow-x: scroll;
}
